@media screen and (max-width: 600px) {
  .nav__ul {
    display: none;
  }

  .nav img:first-child {
    display: none;
  }

  body section {
    background: var(--bkg-section);
  }

  * {
    scroll-behavior: smooth;
  }

  .header {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
  }

  .nav {
    position: fixed;
    width: 100%;
    height: 55px;
    z-index: 200;
  }

  .nav__ul-res {
    width: 100%;
    height: 55px;
    position: relative;
    z-index: 100;
  }

  .ul-res-button-container {
    background: var(--fondo-nav);
    min-width: 100%;
    direction: rtl;
    position: absolute;
  }

  .ul-res-button i {
    font-size: 35px;
    padding: 10px 5px;
    transform: translate(-20px);
    color: #fff;
  }

  .nav__li-container {
    width: 75%;
    height: calc(100vh - 54px);
    display: flex;
    flex-direction: column;
    background: var(--fondo-nav);
    top: 54px;
    position: absolute;
    transform: translate(-100vw);
    transition: transform 0.4s;
  }

  .nav__li-container li {
    list-style: none;
    background: transparent;
    transition: background 0.4s;
  }

  .nav__li-container li a:first-child {
    padding-top: 20px;
  }

  .nav__li-container li a {
    text-decoration: none;
    font-size: 25px;
    display: block;
    padding: 10px;
    color: #fff;
    font-family: "Asap", sans-serif;
    font-weight: 600;
    transition: color 0.7s;
  }

  .nav__li-container img {
    width: 80%;
    align-self: center;
    margin: auto;
  }

  /* HOVER */

  .nav__ul-res:hover > .nav__li-container {
    transform: translate(0);
    transition: transform 0.4s;
  }

  .nav__li-container li:hover {
    background-color: #fff;
    transition: background 0.4s;
  }

  .nav__li-container li:hover > a {
    color: var(--fondo-nav);
    transition: color 0.7s;
  }

  .nav__li-container li a:focus {
    background: #fff;
    color: var(--fondo-nav);
  }

  /* BANNER */

  .banner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50vh;
    width: 100%;
  }

  .bkg-banner {
    height: 100%;
    width: 100%;
    background-color: #0005;
  }

  .slider-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .slider-container ul {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow-x: hidden;
  }

  .slider-container li {
    min-width: 100%;
    list-style: none;
    animation-name: slider-mobile;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  .slider-container li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .logo-with-elements {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-with-elements img {
    width: 60%;
    height: 100%;
    object-fit: contain;
  }

  /*################################################################################### SECTION HOME ####################*/

  .section-home {
    display: flex;
    flex-direction: column;
  }

  .home-information {
    display: flex;
    flex-direction: column;
  }

  .information-horario {
    background: var(--fondo-nav);
    color: #fff;
    padding: 40px;
    background-image: url(resources/crab.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .information-horario ul h2 {
    text-align: center;
    font-size: 50px;
    font-family: "Satisfy", cursive;
    padding: 10px 0px;
  }
  .information-horario ul li {
    list-style: none;
    font-family: "Asap", sans-serif;
    padding: 10px 0px;
  }

  .information-horario ul li h4 {
    font-size: 25px;
    font-weight: 600;
  }

  .information-horario ul li p {
    font-size: 20px;
  }

  .information-img-container {
    width: 100%;
    height: 10%;
  }

  .information-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home-offer {
    display: flex;
    flex-direction: column;
    background: var(--fondo-nav);
  }

  .home-offer h1 {
    color: #fff;
    font-family: "Satisfy", cursive;
    text-align: center;
    font-size: 50px;
  }

  .home-offer h2 {
    font-family: "Asap", sans-serif;
    color: #fff;
  }

  .home-offer p {
    font-family: "Asap", sans-serif;
    color: #fff;
    text-align: justify;
  }

  .home-offer-items {
    padding: 40px;
  }

  .home-offer-items ul li {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
  }

  .home-offer-items ul li div {
    margin: 10px 0px;
  }

  .home-offer-items ul li div:first-child {
    max-width: 30%;
  }

  .home-offer-bkg {
    order: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .home-offer-bkg img {
    width: 100%;
  }

  .pez-bkg {
    position: absolute;
  }

  .mark-container {
    background: #fff;
    z-index: 100;
    border-radius: 50%;
    width: 80%;
    align-self: center;
    margin-bottom: 8%;
  }

  /*################################################################################### SECTION MENU #########################*/

  .section-menu {
    background-image: url(resources/fish_right.png);
    background-repeat: no-repeat;
    background-position: right top;
  }

  .menu-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
  }
  .menu-header h1 {
    font-family: "Satisfy", cursive;
    font-size: 45px;
    text-align: center;
    color: var(--color-titles);
  }

  .menu-header-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu-header-catalog a {
    font-family: "Asap", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: var(--fondo-nav);
    border-bottom: 4px solid transparent;
  }

  .menu-header-catalog a:focus {
    border-bottom: 4px solid var(--fondo-nav) ;
  }

  .catalog {
    width: 100%;
    height: 230vh;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(resources/crab3.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
  }

  .catalog h1 {
    font-family: "Satisfy", cursive;
    letter-spacing: 0px;
    color: var(--color-titles);
  }

  .catalog h3 {
    font-family: "Asap", sans-serif;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: var(--color-titles);
  }

  .catalog p {
    font-family: "Asap", sans-serif;
    color: var(--color-text);
  }

  .catalog li {
    list-style: none;
    margin: 20px 0px;
  }


  .title-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-item-container div:first-child {
    max-width: 60%;
    position: relative;
  }

  .title-item-container div:nth-child(2) {
    display: flex;
    overflow-x: hidden;
    min-width: 20%;
    margin: 0px 5px;
  }

  .title-item-container div:nth-child(3) {
    max-width: 20%;
  }

  .title-item-nombre h3{
    width: max-content;
    max-width: 100%;
  }
  .title-item-puntos h3 {
    letter-spacing: 1.5px;
  }


  div.food-menu, div.drink-menu {
    position: absolute;
    background: #fff;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 1s;
    background-image: url(resources/crab3.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
  }

  div.food-menu {
    opacity: 1;
  }

  .food-left-catalog {
    order: 1;
  }

  .food-right-catalog {
    order: 10;
  }

  .drink-left-catalog {
    order: 10;
  }

  .drink-right-catalog {
    order: 1;
  }

  .food-menu, .drink-menu:target {
    opacity: 1;
  }

  /* ESPECIALIDADES ######################################*/
  .menu-especialties {
    background-image: url(resources/crab4.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }


  .especialties-header {
    background: var(--fondo-nav-degradado);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .especialties-header h1 {
    background: #fff;
    color: var(--color-titles);
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    font-weight: initial;
    text-align: center;
    display: inline;
  }

  .especialties-header p {
    font-family: 'Asap', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 0px 0px 25px 0px;
  }

  .especialties-header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 125px;
    width: 100%;
  }

  .especialties-header li {
    list-style: none;
  }

  .especialties-header a {
    font-family: 'Asap', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px;
  }

  .especialties-header a:hover{
    border-bottom: 4px solid #fff;
  }

  /*___________________________________________*/

  .especialties-container {
    position: relative;
    width: 100%;
  }

  .especialties-container ul {
    display: flex;
    position: relative;
    overflow-x: hidden;
  }

  ul .category-especialty {
    list-style: none;
    max-width: 100%;
    position: relative;
  }

  .category-especialty ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  li.category-especialty:target {
    order: -10;
    opacity: 1;
    transition: order 1s;
  }

  .category-especialty li {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0px;
  }

  .especialty-img-container {
    max-width: 80px;
    min-width: 80px;
    padding-left: 10px;
  }

  .especialty-img-container img {
    width: 100%;
    object-fit: cover;
  }

  .especialty-description-container {
    flex-grow: 1;
    max-width: calc(100% - 80px);
    position: relative;
    padding: 10px;
  }

  .especialty-title-container {
    display: flex;
  }


  .especialty-title-container div:first-child {
    max-width: 60%;
  }

  .especialty-title-container div:nth-child(2) {
    display: flex;
    overflow-x: hidden;
    min-width: 10%;
    margin: 0px 10px;
  }

  .especialty-title-container div:last-child {
    max-width: 20%;
  }

  .especialty-title-container div:nth-child(1) h3 {
    width: max-content;
    max-width: 100%;
  }

  /*_____________________________________________*/
  /* DESORDENAR LOS ITEM PARA LAS ESPECIALIDADES*/

  /*ALMUERZOS*/
  .dinner-especialty ul li:first-child{
   order: 100; 
  }

  .dinner-especialty ul li:nth-child(2){
   order: 60; 
  }

  .dinner-especialty ul li:nth-child(3){
   order: 10; 
  }

  .dinner-especialty ul li:nth-child(4){
   order: 80; 
  }

  .dinner-especialty ul li:nth-child(5){
   order: 40; 
  }

  .dinner-especialty ul li:nth-child(6){
   order: 30; 
  }

  /* HORA FELIZ */
  .happy-hour-especialty ul li:first-child{
   order: 90; 
  }

  .happy-hour-especialty ul li:nth-child(2){
   order: 60; 
  }

  .happy-hour-especialty ul li:nth-child(3){
   order: 10; 
  }

  .happy-hour-especialty ul li:nth-child(4){
   order: 40; 
  }

  .happy-hour-especialty ul li:nth-child(5){
   order: 70; 
  }

  .happy-hour-especialty ul li:nth-child(6){
   order: 50; 
  }

  /*POSTRES*/
  .dessert-especialty ul li:first-child{
   order: 50; 
  }

  .dessert-especialty ul li:nth-child(2){
   order: 100; 
  }

  .dessert-especialty ul li:nth-child(3){
   order: 70; 
  }

  .dessert-especialty ul li:nth-child(4){
   order: 20; 
  }

  .dessert-especialty ul li:nth-child(5){
   order: 90; 
  }

  .dessert-especialty ul li:nth-child(6){
   order: 30; 
  }

  .section-chefs {
    height: 100vh;
    border: 4px solid aqua;
  }
}
